.btn {
    align-items: center;
    background: rgb(255,79,55);
    background: linear-gradient(133deg, rgba(255,79,55,1) 0%, rgba(255,99,71,1) 53%, rgba(255,121,98,1) 100%);
    border-radius: 10px;
    border: none;
    display: flex;
    font-family: 'Poppins';
    justify-content: center;
    margin: 20px 0px 20px 0px;
    padding: 10px;
}


.btn > h1 {
    margin-left: 7px;
    font-weight: 600;
}

@media (max-width: 1020px) {
    .btn {
        height: 50%;
        margin: 0;
    }
}

@media (max-width: 450px) {
    .btn > h1 {
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    .btn > h1 {
        font-size: 10px;
    }
}